.update-image-form {
    max-width: 36rem;
    .all-image-area {
        display: flex;
        .single-image-area {
            text-align: center;
        }
    }
}

.address-error-message {
    color: red;
    font-size: small;
    margin-left: 1rem;
}