.update-image-form {
    max-width: 36rem;
    .all-image-area {
        display: flex;
        .single-image-area {
            text-align: center;
            .profileImage {
                width: 15rem;
                height: 13rem;
                display: flex;
                justify-content: center;
                margin-bottom: 0.5rem;
                border: gray double 3px;
                border-radius: 15px;
                position: relative;
                img {
                    object-fit: contain; // 枠内に見切れないサイズで画像を表示
                }
                .deleteImageButton {
                    // 画像の上にボタンを配置
                    position: absolute;
                    bottom: 5px;
                    height: 2px;
                }
            }
        }
    }
}

.address-error-message {
    color: red;
    font-size: small;
    margin-left: 1rem;
}

.emp-wrapper {
    text-align: center;
    width: 100%;
    .emp-table {
        border: solid 1px;
        width: 100%;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        tr {
            th {
                border: solid 1px;
                background-color: lightgray;
            }
            td {
                border: solid 1px;
                background-color: white;
            }
        }
    }
}

.create-emp {
    border: solid 1px;
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    tr {
        th {
            border: solid 1px;
            background-color: lightgray;
        }
        td {
            border: solid 1px;
        }
    }
}

.edit-emp {
    border: solid 1px;
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    tr {
        th {
            border: solid 1px;
            background-color: lightgray;
        }
        td {
            border: solid 1px;
        }
    }
}

.delete-emp {
    border: solid 1px;
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    tr {
        th {
            border: solid 1px;
            background-color: lightgray;
        }
        td {
            border: solid 1px;
        }
    }
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    button {
        border: solid 1px gray;
        background-color: white;
        width: 30px;
        height: 30px;
    }
    div {
        border: solid 1px gray;
        background-color: white;
        width: 30px;
        height: 30px;
        padding: 1px;
        text-align: center;
        cursor: pointer;
    }
}

.table-image-size {
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}
